@tailwind base;
@tailwind components;

@layer base {
  body {
    @apply font-roboto text-bgSidebar;
  }

  h2 {
    @apply text-3xl;
  }
}

@layer components {
  .btn {
    @apply font-bold py-1 px-3 rounded-lg;
  }

  .label::before {
    content: "";
    display: inline-block;
    background-color: #f3f4f6;
  }

  .badge {
    @apply px-3 py-2 rounded-lg font-bold;
  }

  .checkboxPrimary {
    @apply bg-gray-100 border-2 border-gray-400;
  }

  .checkboxSuccess {
    @apply bg-green-100 border-2 border-green-400;
  }

  .input {
    @apply border-2 rounded-lg px-3 py-1;
  }
}
